<% provide(:title, "About") %>
<p style="font-size: 40px; text-align: center"><font face="ravie">About</font></p>
<pre>
  <B>-About us</B>
  
    This game was made for a university project among only 5 group members.
  
  <B>-About the game</B>
  
    *This game is a Turn-based Role Playing Game. 
    *It's also a location based game.
    
  <B>-About players</B>
  
    *First time players would need to create an account and log in. 
    There's a tutorial prepared for them.
      

    *Top players receive a weekly reward from the game. 
    *Higher level players will be able to hunt bosses to acquire larger rewards. 
      
  <!-- Add more here... -->

</pre>

