<% provide(:title, 'Tutorial') %>



<div>
    <h2>What is GeoHunter?</h2>
    <p>
        GeoHunter is a browser game that allows people to experience exploring, without actually going out 
        into the world and explore. This game is a Turn-based Role Playing Game and the main goal of the game would be to acquire 
        as much experience points as possible and level up their character. These levels would represent the 
        player's score on a leaderboard. GeoHunter’s main feature would be using the Google Maps API to determine 
        what game maps are available to the player. This system allows players to visit different in-game locations 
        according to their real world position.

    </p>
</div>

<div class="container">
  <ul class="nav nav-tabs">
      <h1>Welcome to GeoHunter. </h1>
    <h1>Here you'll find all the basic information you need to get set up and hit the virtual world of the game.</h1>
    <br>
    <li class="active"><a data-toggle="tab" href="#TheBasics">The Basics</a></li>
    <li><a data-toggle="tab" href="#RankSystem">RankSystem</a></li>
    <li><a data-toggle="tab" href="#ShopItems">Shop&Items</a></li>
    <li><a data-toggle="tab" href="#AcquiredQuest">AcquiredQuest</a></li>
  </ul>

  <div class="tab-content">
    <div id="TheBasics" class="tab-pane fade in active">
      <div class="row">
        <img id="img1" src="/assets/Forest-Green-Wallpaper.jpg" onclick="activateGIF(this, '#anim',10000)"/> <!-- set up a static img and onclick event -->
        <img id="anim" class="hidden" src="/assets/attack.gif" /> <!-- retrieve Animation file hiddenclass is needed otherwise the gif will still pop up -->
        <!--<div class="col-lg-7"><%= image_tag "/assets/attack.gif" , size: "500x350" %></div>-->
        <!--<div class="col-lg-5">TheBasics are here</div>-->
      </div>
      
    </div>
    <div id="RankSystem" class="tab-pane fade">
      <div class="row">
        <div class="col-lg-6"><%= image_tag "/assets/attack.gif" , size: "500x350" %></div>
        <div class="col-lg-6">TheBasics are here</div>
      </div>
      
    </div>
    <div id="ShopItems" class="tab-pane fade">
      <div class="row">
        <div class="col-lg-7"><%= image_tag "/assets/attack.gif" , size: "500x350" %></div>
        <div class="col-lg-5">TheBasics are here</div>
      </div>
      
    </div>
    <div id="AcquiredQuest" class="tab-pane fade">
      <div class="row">
        <div class="col-lg-6"><%= image_tag "/assets/attack.gif" , size: "500x350" %></div>
        <div class="col-lg-6">TheBasics are here</div>
      </div>
      
    </div>
  </div>
</div>





