<% provide(:title, 'Tutorial') %>
<style>
#guideheading{
  text-align: center;
  padding: 4em;
  font
}
.row{margin :10px;}
</style>
<div id='guideheading'>
<h1>Game Guide </h1>
<h1>Here you'll find all the basic information you need to know and get ready to hit the virtual world of the game.</h1>
</div>

<div>
    <h2>What is GeoHunter?</h2>
    <p>
        GeoHunter is a browser game that allows people to experience exploring, without actually going out 
        into the world and explore. This game is a Turn-based Role Playing Game and the main goal of the game would be to acquire 
        as much experience points as possible and level up their character. These levels would represent the 
        player's score on a leaderboard. GeoHunter’s main feature would be using the Google Maps API to determine 
        what game maps are available to the player. This system allows players to visit different in-game locations 
        according to their real world position.
    </p>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <br>
    <li class="active"><a data-toggle="tab" href="#TheBasics">The Basics</a></li>
    <li><a data-toggle="tab" href="#RankSystem">RankSystem</a></li>
    <li><a data-toggle="tab" href="#ShopItems">Shop&Items</a></li>
    <li><a data-toggle="tab" href="#AcquiredQuest">AcquiredQuest</a></li>
  </ul>

  <div class="tab-content">
    <div id="TheBasics" class="tab-pane fade in active">
      <div class="row" >
        <div class="col-lg-7"> 
          <p>attack demonstration</p>
        </div>
        <div class="col-lg-5">
          <p>Click the picture to play gifs</p>
          <img id="img1" src="/assets/attackimg.png" height="300" width="350" onclick="activateGIF(this, '#anim1',10000)"/> <!-- set up a static img and onclick event -->
          <img id="anim1" class='hidden'  src="/assets/attack.gif" height="300" width="350" onclick="activateGIF(this, '#anim1',10000)"/> <!-- retrieve Animation file hiddenclass is needed otherwise the gif will still pop up -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <p>skills demonstration</p>
        </div>
          <div class="col-lg-5">
            <img id="img2" src="/assets/skillsimg.png" height="300" width="350" onclick="activateGIF(this, '#anim2',11000)"/>  
            <img id="anim2" class="hidden" src="/assets/skills.gif" height="300" width="350"/> 
          </div>
      </div>
        <!--<img id="img2" src="/assets/skillsimg.png" height="300" width="300" onclick="activateGIF(this, '#anim2',11000)"/> <!-- set up a static img and onclick event -->
        <!--<img id="anim2" class="hidden" src="/assets/skills.gif" height="300" width="300"/> <!-- retrieve Animation file hiddenclass is needed otherwise the gif will still pop up -->
      </div>
      
    </div>
    <div id="RankSystem" class="tab-pane fade">
      <div class="row">
        
      </div>
      
    </div>
    <div id="ShopItems" class="tab-pane fade">
      <div class="row">
        
      </div>
      
    </div>
    <div id="AcquiredQuest" class="tab-pane fade">
      <div class="row">
        
      </div>
      
    </div>
  </div>
</div>





