<% provide(:title, 'Tutorial') %>
<style>
h1{
  text-align: left;
  text-align: center;
  padding: 4em;
  font
}
  


.row{margin-top: 10px;}

.content-blocks{
  background-color: rgba(148,148,148,0.6);
}

</style>
<div class= "h1">
<h1>Game Guide </h1>
<h1>Here you'll find all the basic information you need to know and get ready to hit the virtual world of the game.</h1>
</div>

<div>
    <h2>What is GeoHunter?</h2>
    <p>
        GeoHunter is a browser game that allows you to experience exploring, without actually going out 
        into the world and explore. This game is a Turn-based Role Playing Game and the main goal of the game would be to acquire 
        as much experience points as possible and level up your character. These levels would represent the 
        player's score on a leaderboard. GeoHunter’s main feature would be using your location to determine 
        what game maps are available for you to explore.
    </p>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <br>
    <li class="active"><a data-toggle="tab" href="#TheBasics">The Basics</a></li>
    <li><a data-toggle="tab" href="#BattleSystem">Battle System</a></li>
    <li><a data-toggle="tab" href="#RankSystem">Rank System</a></li>
  </ul>

  <div class="tab-content">
    
    <div id="TheBasics" class="tab-pane fade in active">
      
        <h1 id="guideheading">What You Need to Know...</h1>
        <p>This tutorial is packed with information and designed to get you up to speed fast about GeoHunter so you can start having fun. There are a few core concepts that you should know up front before starting the game.</p>
      <div class="row" >
        <ul class="content-blocks">
          <li class="content-blocks">
            <h3>Scaling Monster</h3>
          </li>
        </ul>
        
      </div>
    </div>
      
      <div id="BattleSystem" class="tab-pane fade in">
          <div class="row jumbotron" >
            <div class="col-lg-7"> 
              <p>attack demonstration</p>
            </div>
          <div class="col-lg-5">
              <p>Click the picture to play gifs</p>
            <img id="img1" src="/assets/attackimg.png" height="300" width="350" onclick="activateGIF(this, '#anim1',10000)"/> <!-- set up a static img and onclick event -->
            <img id="anim1" class='hidden'  src="/assets/attack.gif" height="300" width="350" onclick="activateGIF(this, '#anim1',10000)"/> <!-- retrieve Animation file hiddenclass is needed otherwise the gif will still pop up -->
          </div>
        </div>
      </div>
      
    
    <div id="RankSystem" class="tab-pane fade">
      <div class="row jumbotron">
        <div class = "col-lg-12">
        <p>
        Determined by levels. If multiple users have the same level, then determine rankings by experience points
A weekly reward is given to the top players
If two top players have the same experience points, they both get the rewards
        </p>
        </div>
      </div>
    </div>
    
    
    
  </div>
</div>





