<% provide(:title, 'Hub') %>
<center>

  <%= link_to "Start Game!", game_path, action: 'get', :class=>"button button2"%>
<div class="container">
  <ul class="setup_links center">
    <li><%= link_to "World Map", places_path %></li>
    <li><%= link_to "Quests", quests_path %></li>
    <li><%= link_to "Shop", items_path %></li>
  </ul>
</div>

</center>