 
<style>
.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}

.button1:hover {
    background-color: black;
    color: white;
   
}


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    /*0%   { -webkit-transform: translate(0px,0px)}*/
    /*60%  { -webkit-transform: translate(0px,100px)}*/
    /*80%  { -webkit-transform: translate(0px,120px)}*/
    /*100% { -webkit-transform: translate(0px,100px)}*/
    

      0% {
        /*opacity: 0;*/
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
      }
    
      60% {
        /*opacity: 1;*/
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
      }
    
      75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
      }
    
      90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
      }
}

/*BouncedDown Class*/
.BouncedDown, #Welcome{
    font-size: 150%;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    animation-name: example;
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-duration: 2s;
}

                         /*ANIMATION FOR EACH LETTER IN WELCOMING MESSAGE*/
#WW{ animation-delay:0.2s;  -webkit-animation-delay:0.2s; }
#WE{ animation-delay:0.8s;  -webkit-animation-delay:0.8s; }
#WL{ animation-delay:0.6s;  -webkit-animation-delay:0.6s; }
#WC{ animation-delay:1s;  -webkit-animation-delay:1s; }
#WO{ animation-delay:0.6s;  -webkit-animation-delay:0.6s; }
#WM{ animation-delay:1.3s;  -webkit-animation-delay:1.3s; }
#WE{ animation-delay:0.7s;  -webkit-animation-delay:0.7s; }







</style>

<div class="container" id="Welcome">
  <!--This is for the animated verison of "Welcome to GeoHunter"-->
  <div class="row text-center">
      <span id="Welcome">
          <span class="BouncedDown" id="WW">W</span>
          <span class="BouncedDown" id="WE">e</span>
          <span class="BouncedDown" id="WL">l</span>
          <span class="BouncedDown" id="WC">c</span>
          <span class="BouncedDown" id="WO">o</span>
          <span class="BouncedDown" id="WM">m</span>
          <span class="BouncedDown" id="WE">e</span>
          <span></span>
      </span>
      
      <span id="To">
          <span class="BouncedDown" id="TT">T</span>
          <span class="BouncedDown" id="TO">O</span>
          <span></span>
      </span>
      
      <span id="GeoHunter">
          <span class="BouncedDown" id="GG">G</span>
          <span class="BouncedDown" id="GE">e</span>
          <span class="BouncedDown" id="GO">o</span>
          <span class="BouncedDown" id="GH">H</span>
          <span class="BouncedDown" id="GU">u</span>
          <span class="BouncedDown" id="GN">n</span>
          <span class="BouncedDown" id="GT">t</span>
          <span class="BouncedDown" id="GE">e</span>
          <span class="BouncedDown" id="GR">r</span>
          <span></span>
      </span>
    </div>
  
  
  
  <!--<p>This is the main page of the game GeoHunter</p>-->
  
  <!--<%= render 'shared/ranking_table' %>-->
  <!--<p style="font-size: 50px">Gameplay Demo</p>-->
  <!--      <div class="embed-responsive embed-responsive-16by9">-->
  <!--            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nCkpzqqog4k"></iframe>-->
  <!--      </div>-->
</div>
