<div class="center jumbotron">
  <p style="font-size: 60px"><font face="ravie">Welcome to GeoHunter!</font></p>
  <p style="font-size: 30px"><font face="jokerman">This is the main page of the game GeoHunter</font></p>
  
  <%= render 'shared/ranking_table'%>
</div>
