<style>
.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}

.button1:hover {
    background-color: black;
    color: white;
}
</style>

<div class="center jumbotron">
  <p><font face="rapscallion" size=7>Welcome to GeoHunter!</font></p>
  <p>This is the main page of the game GeoHunter</p>
  
  <%= link_to "Test Game", game_path, action: 'get',:style =>'vertical-align:middle', :class=>'button button1'%> 
</div>