<div class="homepage">
  <div class="center jumbotron">
      <h1>Welcome to GeoHunter!</h1>
      <p>This is the main page of the game GeoHunter</p>
      <%= link_to "Test Game", game_path, action: 'get'%> 
    </div>
  
</div>  
