<div class="center jumbotron">
  <p style="font-size: 50px"><font face="ravie">Welcome to GeoHunter!</font></p>
  <p>This is the main page of the game GeoHunter</p>
  
  <%= render 'shared/ranking_table'%>
</div>
