
<div class="center jumbotron">
      <!--This is for the animated verison of "Welcome to GeoHunter"-->
      <h1 id="WelcomeHeader">
        <font face="ravie">
          <span id="Welcome">
              <span class="BouncedDown" id="WW">W</span>
              <span class="BouncedDown" id="WE">e</span>
              <span class="BouncedDown" id="WL">l</span>
              <span class="BouncedDown" id="WC">c</span>
              <span class="BouncedDown" id="WO">o</span>
              <span class="BouncedDown" id="WM">m</span>
              <span class="BouncedDown" id="WE">e</span>
          </span>
          <span id="To">
              <span class="BouncedDown" id="TT">T</span>
              <span class="BouncedDown" id="TO">o</span>
          </span>
          <span id="GeoHunter">
              <span class="BouncedDown" id="GG">G</span>
              <span class="BouncedDown" id="GE">e</span>
              <span class="BouncedDown" id="GO">o</span>
              <span class="BouncedDown" id="GH">H</span>
              <span class="BouncedDown" id="GU">u</span>
              <span class="BouncedDown" id="GN">n</span>
              <span class="BouncedDown" id="GT">t</span>
              <span class="BouncedDown" id="GE">e</span>
              <span class="BouncedDown" id="GR">r</span>
          </span>
        </font>
      </h1>
  <!--<div>-->
  <!--  <h1>Getting Started in League of Legends</h1>-->
  <!--  <p>-->
  <!--  A lot goes into a successful battle on the virtual world. -->
  <!--  In the new player guide, you’ll learn how to control your character, -->
  <!--  the structures you’ll encounter on the battlefield. When you’re ready,-->
  <!--  you’ll enter the fray in your first game of competitive League of Legends.-->
  <!--  </p>-->
  <!--</div>-->
  <%= render 'shared/ranking_table' %>
  <p style="font-size: 100%">Gameplay Demo Goes Here</p>
  <!--<p>Here is a youtube link if anyone wants to see how the gameplay video will pop up in the homepage</p>-->

  <div class="embed-responsive embed-responsive-16by9" id="video">
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/IEZ6JHezCAw" frameborder="0" allowfullscreen></iframe>-->
  </div>
</div>


