<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Skills", skills_path %></li>
      </ul>
    </nav>
  </div>
</header>

<p class="center">Gold: <%= number_with_delimiter current_player.gold %></p>