// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shop {
  width: 7em;
  margin-left: 1em;
}

#shop_individual {
  width: 7em;
}

#item_amount {
  width: 5em;
  margin-left: 37em;
}

.item_links {
  margin-top: 45px;
  padding-top: 5px;
  list-style: none;
  li {
    margin-top: 2em;
  }
}