// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// We can decide on the colours later, just use this for a template.

// All code involve -webkit is defined for Chrome, Safari, Opera 
// All code involve -moz is defined for Firefox

$gray-medium-light: #eaeaea;

/* Universal */

a {
  text-align: center;
}


    
// Place padding for the header to go in.
body {
  padding: 50px;

}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.homepage{
  margin-top: 10px;
}
/* Typography */
// This will apply to all headers and paragraphs.
// We can decide on whether we should use this or not.

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Header*/
// We can delete this part if we're going to use a picture or something

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
  }
}
.navbar{
  margin-bottom: 50px;
}

/* Footer */

footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }

}

/* Hub */

.setup_links {
  margin-top: 45px;
  padding-top: 5px;
  list-style: none;
  li {
    float: left;
    margin-left: 50px;
  }
}

/* table  */

.ranking_table{
  
  margin: 20px;
  float: center;
  //             Animation for the table
  -moz-animation-name: RankTableFromright;
  -webkit-animation-name: RankTableFromright;
  animation-name: RankTableFromright;
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
   table {
   border: 1px solid $gray-medium-light;
   }
  
  td {
    overflow: auto;
    padding: 0.5em 2em;
    border-bottom: 1px solid black;
    &.num {
      font-weight: bold;
      font-size: 2em;
    }
  }
}


// Animation for the table
@-webkit-keyframes RankTableFromright {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(-5000px, 0, 0);
      }
      50%{
        opacity: 0;
      }
      
      60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
      }
    
      75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
      }
    
      90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
      }
  
}


//           Defining Animation WelcomeMessage
@-webkit-keyframes WelcomeMessage{
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
      }
    
      75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
      }
    
      90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
      }
}

//             Bouncing Letters
#WW { animation-delay: 0.2s;  -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s;}
#WE { animation-delay: 0.8s;  -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s;}
#WL { animation-delay: 0.6s;  -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s;}
#WC { animation-delay: 1s;  -webkit-animation-delay: 1s; -moz-animation-delay: 1s;}
#WO { animation-delay: 0.6s;  -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s;}
#WM { animation-delay: 0.8s;  -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s;}
#WE { animation-delay: 0.7s;  -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s;}
#TT { animation-delay: 0.2s;  -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s;}
#TO { animation-delay: 0.7s;  -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s;}
#GG { animation-delay: 0.6s;  -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s;}
#GE { animation-delay: 0.8s;  -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s;}
#GO {animation-delay: 0.4s;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s;}
#GH {animation-delay: 1s;  -webkit-animation-delay: 1s; -moz-animation-delay: 1s;}
#GU {animation-delay: 0.8s;  -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s;}
#GN {animation-delay: 0.6s;  -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s;}
#GT {animation-delay: 0.4s;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s;}
#GE {animation-delay: 0.9s;  -webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s;}
#GR {animation-delay: 1.1s;  -webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s;}


#WelcomeHeader{
  display: inline;
  text-align: center;
}

#WelcomeHeader{
  // text-align: center;
  margin: 20px;
  font-size: 2em;
  
  #Welcome,#To,#GeoHunter{
  margin: 20px;
  padding: 0;
  }
}
// CSS animation is only appliable to "block level" element
span{
  display: inline-block;
}


              /*BouncedDown Animation for the welcoming message*/
.BouncedDown,#Welcome,#To,#GeoHunter{

    font-size: 150%;
    -moz-animation-name: WelcomeMessage;
    animation-name: WelcomeMessage;
    -webkit-animation-name: WelcomeMessage; 
    animation-duration: 2s;
    -webkit-animation-duration: 2s; 
    -moz-animation-duration: 2s;
}



//             Video's Animation
@-webkit-keyframes GameplayDemo {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
      }
      30%{
        opacity: 0;
      }
      60% {
        opacity: 0.4;
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
      }
    
      75% {
        opacity: 1;
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
      }
    
      90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
      }
}
#video{
    -moz-animation-name: GameplayDemo;
    -webkit-animation-name: GameplayDemo; /* Chrome, Safari, Opera */
    animation-name: GameplayDemo;
    -moz-animation-duration: 5.5s;
    -webkit-animation-duration: 5.5s; /* Chrome, Safari, Opera */
    animation-duration: 5.5s;
}




/* Buttons Style*/

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
//button1 refers to "Ranking" on home page.

.button1 {
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1:hover {
    background-color: black;
    color: white;
}

//button2 refers to "Start game" on hub page.

.button2 {
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;

}

