// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// We can decide on the colours later, just use this for a template.

$gray-medium-light: #eaeaea;

/* Universal */

a {
  text-align: center;
}

// Place padding for the header to go in.
body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */
// This will apply to all headers and paragraphs.
// We can decide on whether we should use this or not.

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Header*/
// We can delete this part if we're going to use a picture or something

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  
}

/* Hub */

.setup_links {
  margin-top: 45px;
  padding-top: 5px;
  list-style: none;
  li {
    float: left;
    margin-left: 50px;
  }
}

/* table Typography */

.ranking_table{
  margin: 0;
  td {
    overflow: auto;
    padding: 0.5em 2em;
    border-bottom: 1px solid black;
    &.num {
      font-weight: bold;
      font-size: 2em;
    }
  }
}

/*Button styles on home page*/

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
//button1 refers to "Ranking" on home page.

.button1 {
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: blacks;
    color: white;
}





