<!--
  <div id="user-created" style='margin-left: 70%;'>
    <center>
    <h2><strong>User Geolocation</strong></h2>
    <p><strong>Country: </strong><= @user_location[:country_name] %></p>
    <h2><strong>User-Created Locations</strong></h2>
    <table>
      <thead>
        <tr>
         <th>Latitude</th>
         <th>Longitude</th>
          <th>Address</th>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        < @places.each do |place| %>
          <tr>
            <td><= place.latitude %></td>
            <td><= place.longitude %></td>
            <td><= place.address %></td>
            <td><= place.title %></td>
            <td><= link_to 'Go here', places_choose_path(place[:id]), data: { confirm: 'Pick this location?' } %></td>
            <td><= link_to 'Show', place %></td>
            <td><= link_to 'Edit', edit_place_path(place) %></td>
            <td><= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        < end %>
      </tbody>
    </table>
    <button><= link_to 'New Place', new_place_path %></button>
    </center>
  </div> 
  
  <script charset="utf-8">
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'} }, function(){
  /*if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(displayOnMap);
  } */
  handler.map.centerOn([49.19426915204543, -122.7577972412109416778]);
  handler.getMap().setZoom(10);

  var user_markers_json = <%=raw @user_markers.to_json %> ;
  var u_markers = handler.addMarkers(user_markers_json);
  for (var i = 0; i <  user_markers_json.length; ++i) {
    //console.log(u_markers) ;
    google.maps.event.addListener(u_markers[i], 'rightclick', function(){
      alert("click") ;
    });
  }
  place_marker();
});

function displayOnMap(position){
  /* var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude,
    "infowindow": "You are here!"
  }); */
  
  handler.map.centerOn([0, 0]);
  handler.getMap().setZoom(10);
}

function place_marker() {
  google.maps.event.addListener(handler.getMap(), 'rightclick', function(e) {
    if (window.confirm('Place marker here?')) {
      var image = 'https://cdn3.iconfinder.com/data/icons/location-vol-2/128/location-15-32.png' ;
      var click_marker = new google.maps.Marker({
        position: e.latLng, 
        map: handler.getMap(),
        icon: image
      });
      
      // https://www.codementor.io/ruby-on-rails/tutorial/tutorial-how-to-debug-ajax-in-rails
      // To pass to controller:
      var place = { 
        place: {
          latitude: e.latLng.lat(),
          longitude: e.latLng.lng(),
          title: "clicked" 
        }
      } 
      
      JSON.stringify(place) ;
      // Post data via ajax to a rails controller
      $.post('/places', place);
      location.reload();
    }
  });
}
</script>
-->