<div class="jumbotron" id="rankingtablejumbotron">
        <h1>Top 10 Players In Rank</h1>
        <table id="rankingtable">
          <thead>
            <tr>
              <th id="top10rankingtableheader">Username:</th>
              <th id="top10rankingtableheader">level</th>
              <th id="top10rankingtableheader">deaths</th>
            </tr>
          </thead>
          <% @users.each do |users| %>
              <tr>
                <td id="top10rankingtabledata"><%= users.username %></td>
                <td id="top10rankingtabledata"><%= users.player.level %></td>
                <td id="top10rankingtabledata"><%= users.player.deaths %></td>
              </tr>
          <% end %>
        </table>
  </div>